* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}
.headlineContainer {
  font-size: 3vh;
  font-weight: 600;
}
.formContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 20vh;
  width: 100vw;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.formContainer input {
  font-size: 2vh;
  height: 80%;
  width: 70%;
}
.formContainer button {
  font-size: 3vh;
  font-weight: 600;
  height: 80%;
  width: 20%;
  padding: 3rem;
  margin-left: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}
.formContainer button:hover {
  background-color: #5cd87b;
}
.repositoriesList {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid #fafafa;
  transition: 300ms ease-in;
}
.repositoriesList ul {
  margin-top: 10px;
}
.repositoriesList:hover {
  background-color: #cdf0a3;
}
